@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
@media(max-width:576px){
    .bg_container{
        background-image: linear-gradient( to right ,#f54f5a,#f58529,#f64f59,#d267c4,#00ffff);
        height: 70vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .insta_logo{
        height: 30px;
        width: 30px;
    }
    
    .insta_heading{
        color: #ffffff;
        font-size: 25px;
        font-family: Roboto;
        position: relative;
        bottom: 20px;
        left: 20px;
        font-weight: bold;
    }
    
    .search_logo{
        height: 26px;
        width: 26px;
        position: relative;
        top: 5px;
    }
    
    .links{
        display: none;
    }
    
    .center_heading{
        text-align: center;
        color: #ffffff;
        font-size: 27px;
        font-family: Lobster;
        font-weight: 300;
    }
    
    .center_description{
        color: #ffffff;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 100;
    }
    
    .tools_container{
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .tool{
        height: 50px;
        width: 50px;
        margin-top: 30px;
    }
    
    .tool_description{
        font-family: Roboto;
        font-size: 15px;
    }
    
    .bottom_search{
        display: none;
    }
}

@media(min-width:576px){
    .bg_container{
        background-image: linear-gradient( to right ,#f54f5a,#f58529,#f64f59,#d267c4,#00ffff);
        height: 58vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .insta_logo{
        height: 50px;
        width: 50px;
    }
    
    .insta_heading{
        color: #ffffff;
        font-size: 35px;
        font-family: Roboto;
        position: relative;
        bottom: 20px;
        left: 20px;
        font-weight: bold;
    }
    
    .search_logo{
        height: 36px;
        width: 36px;
        position: relative;
        top: 7px;
    }
    
    .links{
        display: none;
    }
    
    .center_heading{
        text-align: center;
        color: #ffffff;
        font-size: 40px;
        font-family: Lobster;
        font-weight: 300;
    }
    
    .center_description{
        color: #ffffff;
        font-size: 22px;
        font-family: Roboto;
        font-weight: 100;
        position: relative;
        left: 30px;
    }
    
    .tools_container{
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .tool{
        height: 60px;
        width: 60px;
        margin-top: 35px;
    }
    
    .tool_description{
        font-family: Roboto;
        font-size: 15px;
    }
    
    .bottom_search{
        display: none;
    }
}

@media(min-width:768px){
    .bg_container{
        background-image: linear-gradient( to bottom ,#f54f5a,#f58529,#f64f59,#d267c4,#00ffff);
        height: 48vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .insta_logo{
        height: 50px;
        width: 50px;
    }
    
    .insta_heading{
        color: #ffffff;
        font-size: 35px;
        font-family: Roboto;
        position: relative;
        bottom: 20px;
        left: 10px;
        font-weight: bold;
    }
    
    .search_logo{
        height: 36px;
        width: 36px;
        position: relative;
        top: 7px;
    }
    
    .links{
        color: white;
        text-decoration: none;
        font-family: Roboto;
        font-size: 15px;
        position: relative;
        left: 70px;
        top: 15px;
        margin-left: 30px;
        display: inline-block;
    }
    
    .center_heading{
        text-align: center;
        color: #ffffff;
        font-size: 40px;
        font-family: Lobster;
        font-weight: 300;
    }
    
    .center_description{
        color: #ffffff;
        font-size: 22px;
        font-family: Roboto;
        font-weight: 100;
        position: relative;
        left: 30px;
    }
    
    .tools_container{
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .tool{
        height: 60px;
        width: 60px;
        margin-top: 35px;
    }
    
    .tool_description{
        font-family: Roboto;
        font-size: 15px;
    }
    
    .bottom_search{
        margin-left: 150px;
        margin-top: 50px;
        display: inline-block;
    }
    
    .search{
        height: 50px;
        width: 330px;
        border-radius: 10px;
        border-width: 0px;
    }
    
    .search_button{
        background-color: #3b82f6;
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
        padding-left:20px;
        padding-right:20px;
        padding-top:10px;
        padding-bottom:10px;
        border-radius: 10px;
        border-width: 0px;
        position: relative;
        left: 20px;
    }
    
    .tool_outer_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width:992px){
    .bg_container{
        background-image: linear-gradient( to bottom ,#f54f5a,#f58529,#f64f59,#d267c4,#00ffff);
        height: 48vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .insta_logo{
        height: 50px;
        width: 50px;
    }
    
    .insta_heading{
        color: #ffffff;
        font-size: 35px;
        font-family: Roboto;
        position: relative;
        bottom: 20px;
        left: 10px;
        font-weight: bold;
    }
    
    .search_logo{
        height: 36px;
        width: 36px;
        position: relative;
        top: 7px;
    }
    
    .links{
        color: white;
        text-decoration: none;
        font-family: Roboto;
        font-size: 20px;
        position: relative;
        left: 160px;
        top: 15px;
        margin-left: 30px;
        display: inline-block;
    }
    
    .center_heading{
        text-align: center;
        color: #ffffff;
        font-size: 50px;
        font-family: Lobster;
        font-weight: 300;
        text-align: center;
    }
    
    .center_description{
        color: #ffffff;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 100;
        position: relative;
        left: 30px;
        text-align: center;
    }
    
    .tools_container{
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .tool{
        height: 70px;
        width: 70px;
        margin-top: 45px;
    }
    
    .tool_description{
        font-family: Roboto;
        font-size: 22px;
    }
    
    .bottom_search{
        margin-left: 250px;
        margin-top: 50px;
        display: inline-block;
    }
    
    .search{
        height: 50px;
        width: 330px;
        border-radius: 10px;
        border-width: 0px;
    }
    
    .search_button{
        background-color: #3b82f6;
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
        padding-left:20px;
        padding-right:20px;
        padding-top:10px;
        padding-bottom:10px;
        border-radius: 10px;
        border-width: 0px;
        position: relative;
        left: 20px;
    }
    
    .tool_outer_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width:1200px){
    .bg_container{
        background-image: linear-gradient( to bottom ,#f54f5a,#f58529,#f64f59,#d267c4,#00ffff);
        height: 95vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .insta_logo{
        height: 50px;
        width: 50px;
    }
    
    .insta_heading{
        color: #ffffff;
        font-size: 35px;
        font-family: Roboto;
        position: relative;
        bottom: 25px;
        left: 10px;
        font-weight: bold;
    }
    
    .search_logo{
        height: 40px;
        width: 40px;
        position: relative;
        top: 7px;
    }
    
    .links{
        color: white;
        text-decoration: none;
        font-family: Roboto;
        font-size: 25px;
        position: relative;
        left: 230px;
        top: 10px;
        margin-left: 30px;
        display: inline-block;
    }
    
    .center_heading{
        text-align: center;
        color: #ffffff;
        font-size: 55px;
        font-family: Lobster;
        font-weight: 300;
        text-align: center;
    }
    
    .center_description{
        color: #ffffff;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 100;
        position: relative;
        left: 30px;
        text-align: center;
    }
    
    .tools_container{
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .tool{
        height: 70px;
        width: 70px;
        margin-top: 45px;
    }
    
    .tool_description{
        font-family: Roboto;
        font-size: 22px;
    }
    
    .bottom_search{
        margin-left: 300px;
        margin-top: 50px;
        display: inline-block;
    }
    
    .search{
        height: 50px;
        width: 450px;
        border-radius: 10px;
        border-width: 0px;
    }
    
    .search_button{
        background-color: #3b82f6;
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
        padding-left:20px;
        padding-right:20px;
        padding-top:10px;
        padding-bottom:10px;
        border-radius: 10px;
        border-width: 0px;
        position: relative;
        left: 20px;
    }
    
    .tool_outer_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}